:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); 
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.back-colors{
  position: absolute;
  z-index: -9999;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, #FDF4F5, #E8A0BF, #BA90C6, #C0DBEA);
  background-size: 300% 300%;
  animation: color-rotate 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes color-rotate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 3%;
  background-color: #1a1a1a;
}
.borda-preta{
  border: 2px solid #1a1a1a;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:#f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #1a1a1a;

  &:hover{
    border-color: #646cff;
  }
  &:focus, &:focus-visible{
    outline: 4px auto -webkit-focus-ring-color;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.error{
  display: none;
  color: red;
  font-size: larger;
}

.eye-dropper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.cores{
  display: flex;
  .cor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px; 
    .rgb{
      font-size: 23px;
      font-weight: bold;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
  }
}
.footer-card{
  display: flex;
  justify-content: end;
  margin-top: 30px;
}
